absl-py==0.13.0
anykeystore==0.2
apex==0.9.10.dev0
cachetools==4.2.2
certifi==2021.5.30
chardet==4.0.0
cryptacular==1.5.5
cycler==0.10.0
decorator==4.4.2
defusedxml==0.7.1
distro==1.5.0
eos-py==1.2.1
google-auth==1.32.0
google-auth-oauthlib==0.4.4
greenlet==1.1.0
grpcio==1.38.1
h5py==3.2.1
hupper==1.10.3
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.4
kiwisolver==1.3.1
lpips==0.1.3
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.1
moviepy==1.0.3
networkx==2.5.1
numpy==1.20.2
oauthlib==3.1.1
opencv-python==4.5.1.48
packaging==20.9
PasteDeploy==2.1.1
pbkdf2==1.3
Pillow==8.2.0
pkg-resources==0.0.0
plaster==1.0
plaster-pastedeploy==0.7
proglog==0.1.9
protobuf==3.15.8
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
pyramid==2.0
pyramid-mailer==0.15.1
python-dateutil==2.8.1
python3-openid==3.2.0
PyWavelets==1.1.1
repoze.sendmail==4.4.1
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-build==0.11.1
scikit-image==0.18.1
scipy==1.6.3
six==1.16.0
SQLAlchemy==1.4.20
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.2
tifffile==2021.4.8
torch==1.8.1
torchvision==0.9.1
tqdm==4.60.0
transaction==3.0.1
translationstring==1.4
typing-extensions==3.10.0.0
urllib3==1.26.6
velruse==1.1.1
venusian==3.0.0
WebOb==1.8.7
Werkzeug==2.0.1
WTForms==2.3.3
wtforms-recaptcha==0.3.2
zope.deprecation==4.4.0
zope.interface==5.4.0
zope.sqlalchemy==1.4
